body{font-family: sans-serif;}
nav a{ text-decoration: none; font-size: 25px; margin-left: 30px; border: solid 3px green; padding: 10px

  ; color: green; border-radius: 10px;}
nav{background-color: rgb(172, 0, 0); padding: 15px;}
 *{
    margin: 0;
    padding: 0;
}
h1{text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 40px;}
img{width: 250px;}

p{text-align: center; font-size: 40px; margin-top: 30px;}
.p1{text-align: left; font-size: 30px; margin-top: 10px; }
h2{font-size: 30px;}
footer{background-color: grey;}




}
.card{
    display: flex;

  border: 4px solid black;
  width: 90%;
  border-radius: 10px;
  
}
.p2__title{
    text-align: center;
}
.p2{
    max-width: 100%;
    padding: 15px 15px 15px 20px;
    text-align: left;
    border-left: 4px solid black;
}
.p2__body{
    word-break: break-all;
}
div{margin-bottom: 25px;}
