body{font-family: sans-serif;}
nav a{ text-decoration: none; font-size: 25px; margin-left: 30px; border: solid 3px green; padding: 7px

  ; color: green; border-radius: 10px;}
 nav{background-color: rgb(172, 0, 0); padding: 15px; display: flex; }
 *{
    margin: 0;
    padding: 0;
}
h1{text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;}
p{font-size: 25px; margin-top: 20px;} 
 .pizza{font-size: 30px; margin-top: 20px; text-align: center;background-color: green;  }
 .pizza1{display: flex; margin: auto;}
 img{height: 250px; margin-top: 20px; margin-left: 30px;  }
 .footer1 { background-color: grey; margin-top: 30px; padding: 10px}
